In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Netflic Python project data.csv' , lineterminator = '\n')

In [3]:
df.head()

,Release_Date,Title,Overview,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url\r
0,15-12-2021,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,5083.954,8940,8.3,en,"Action, Adventure, Science Fiction",https://image.tmdb.org/t/p/original/1g0dhYtq4i...
1,01-03-2022,The Batman,"In his second year of fighting crime, Batman u...",3827.658,1151,8.1,en,"Crime, Mystery, Thriller",https://image.tmdb.org/t/p/original/74xTEgt7R3...
2,25-02-2022,No Exit,Stranded at a rest stop in the mountains durin...,2618.087,122,6.3,en,Thriller,https://image.tmdb.org/t/p/original/vDHsLnOWKl...
3,24-11-2021,Encanto,"The tale of an extraordinary family, the Madri...",2402.201,5076,7.7,en,"Animation, Comedy, Family, Fantasy",https://image.tmdb.org/t/p/original/4j0PNHkMr5...
4,22-12-2021,The King's Man,As a collection of history's worst tyrants and...,1895.511,1793,7.0,en,"Action, Adventure, Thriller, War",https://image.tmdb.org/t/p/original/aq4Pwv5Xeu...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9826 entries, 0 to 9825
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Release_Date       9826 non-null   object
 1   Title              9826 non-null   object
 2   Overview           9826 non-null   object
 3   Popularity         9826 non-null   float64
 4   Vote_Count         9826 non-null   int64
 5   Vote_Average       9826 non-null   float64
 6   Original_Language  9826 non-null   object
 7   Genre              9826 non-null   object
        9826 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 691.0+ KB

In [5]:
df['Genre'].head()

0    Action, Adventure, Science Fiction
1              Crime, Mystery, Thriller
2                              Thriller
3    Animation, Comedy, Family, Fantasy
4      Action, Adventure, Thriller, War
Name: Genre, dtype: object

In [6]:
df.duplicated().sum()

np.int64(0)

In [7]:
df.describe()

        Popularity    Vote_Count  Vote_Average
count  9826.000000   9826.000000   9826.000000
mean     40.323951   1392.943721      6.439467
std     108.879332   2611.303856      1.129797
min      13.354000      0.000000      0.000000
25%      16.128250    146.000000      5.900000
50%      21.195000    444.000000      6.500000
75%      35.179250   1376.000000      7.100000
max    5083.954000  31077.000000     10.000000

In [8]:
 ####• Exploration Summary
 #• we have a dataframe consisting of 9827 rows and 9 columns.
 #• our dataset looks a bit tidy with no NaNs nor duplicated values.
 #• Release_Date column needs to be casted into date time and to extract only the 
 # • Overview, Original_Languege and Poster-Url wouldn't be so useful during analys
 #• there is noticable outliers in Popularity column
 #• Vote_Average bettter be categorised for proper analysis.
  #• Genre column has comma saperated values and white spaces that needs to be hand

In [9]:
 # Data Cleaning

In [10]:
df.head()

,Release_Date,Title,Overview,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url\r
0,15-12-2021,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,5083.954,8940,8.3,en,"Action, Adventure, Science Fiction",https://image.tmdb.org/t/p/original/1g0dhYtq4i...
1,01-03-2022,The Batman,"In his second year of fighting crime, Batman u...",3827.658,1151,8.1,en,"Crime, Mystery, Thriller",https://image.tmdb.org/t/p/original/74xTEgt7R3...
2,25-02-2022,No Exit,Stranded at a rest stop in the mountains durin...,2618.087,122,6.3,en,Thriller,https://image.tmdb.org/t/p/original/vDHsLnOWKl...
3,24-11-2021,Encanto,"The tale of an extraordinary family, the Madri...",2402.201,5076,7.7,en,"Animation, Comedy, Family, Fantasy",https://image.tmdb.org/t/p/original/4j0PNHkMr5...
4,22-12-2021,The King's Man,As a collection of history's worst tyrants and...,1895.511,1793,7.0,en,"Action, Adventure, Thriller, War",https://image.tmdb.org/t/p/original/aq4Pwv5Xeu...

In [11]:
 # casting column a
 df['Release_Date'] = pd.to_datetime(df['Release_Date'])
 # confirming changes
 print(df['Release_Date'].dtypes)

datetime64[ns]

C:\Users\RISHABH BHATT\AppData\Local\Temp\ipykernel_10172\2026891400.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Release_Date'] = pd.to_datetime(df['Release_Date'])

In [12]:
df['Release_Date'] = df['Release_Date'].dt.year

df['Release_Date'].dtypes

dtype('int32')

Dropping the column

In [13]:
cols = [ 'Overview' , 'Original_Language', 'Poster_Url\r']

In [14]:
df.drop(cols, axis = 1, inplace = True)
df.columns

Index(['Release_Date', 'Title', 'Popularity', 'Vote_Count', 'Vote_Average',
       'Genre'],
      dtype='object')

In [15]:
df.head()

,Release_Date,Title,Popularity,Vote_Count,Vote_Average,Genre
0,2021,Spider-Man: No Way Home,5083.954,8940,8.3,"Action, Adventure, Science Fiction"
1,2022,The Batman,3827.658,1151,8.1,"Crime, Mystery, Thriller"
2,2022,No Exit,2618.087,122,6.3,Thriller
3,2021,Encanto,2402.201,5076,7.7,"Animation, Comedy, Family, Fantasy"
4,2021,The King's Man,1895.511,1793,7.0,"Action, Adventure, Thriller, War"

We would cut the Vote_Average values and make 4 categories: popular average
 below_avg not_popular to describe it more using catigorize_col() function
 provided above.

In [16]:
def catigorize_col(df, col, labels):

    edges = [df[col].describe()['min'],
             df[col].describe()['25%'],
             df[col].describe()['50%'],
             df[col].describe()['75%'],
             df[col].describe()['max']]
    
    df[col] = pd.cut(df[col], edges , labels = labels , duplicates = 'drop')
    return df

In [17]:
labels = ['not_popular', ' below_avg', 'average', 'popular']

catigorize_col(df, 'Vote_Average', labels)

df['Vote_Average'].unique()

['popular', ' below_avg', 'average', 'not_popular', NaN]
Categories (4, object): ['not_popular' < ' below_avg' < 'average' < 'popular']

In [18]:
df.head()

,Release_Date,Title,Popularity,Vote_Count,Vote_Average,Genre
0,2021,Spider-Man: No Way Home,5083.954,8940,popular,"Action, Adventure, Science Fiction"
1,2022,The Batman,3827.658,1151,popular,"Crime, Mystery, Thriller"
2,2022,No Exit,2618.087,122,below_avg,Thriller
3,2021,Encanto,2402.201,5076,popular,"Animation, Comedy, Family, Fantasy"
4,2021,The King's Man,1895.511,1793,average,"Action, Adventure, Thriller, War"

In [19]:
df['Vote_Average'].value_counts()

Vote_Average
not_popular    2467
popular        2450
average        2411
 below_avg     2398
Name: count, dtype: int64

In [20]:
df.dropna(inplace =True)

df.isna().sum()

Release_Date    0
Title           0
Popularity      0
Vote_Count      0
Vote_Average    0
Genre           0
dtype: int64

In [21]:
df.head()

,Release_Date,Title,Popularity,Vote_Count,Vote_Average,Genre
0,2021,Spider-Man: No Way Home,5083.954,8940,popular,"Action, Adventure, Science Fiction"
1,2022,The Batman,3827.658,1151,popular,"Crime, Mystery, Thriller"
2,2022,No Exit,2618.087,122,below_avg,Thriller
3,2021,Encanto,2402.201,5076,popular,"Animation, Comedy, Family, Fantasy"
4,2021,The King's Man,1895.511,1793,average,"Action, Adventure, Thriller, War"

we'd split genres into a list and then explode our dataframe to have only one genre per row for each movie

In [30]:
df['Genre'] = df['Genre'].str.split(', ')

df = df.explode('Genre').reset_index(drop= True)
df.head()

,Release_Date,Title,Popularity,Vote_Count,Vote_Average,Genre
0,2021,Spider-Man: No Way Home,5083.954,8940,popular,nan
1,2022,The Batman,3827.658,1151,popular,nan
2,2022,No Exit,2618.087,122,below_avg,nan
3,2021,Encanto,2402.201,5076,popular,nan
4,2021,The King's Man,1895.511,1793,average,nan

In [36]:
# 1. Convert the column to String first (this 'unlocks' the categorical restriction)
df['Genre'] = df['Genre'].astype(str)

# 2. Replace 'nan' or empty spots with 'Unknown'
# (Using .replace because astype(str) turns nulls into the literal word 'nan')
df['Genre'] = df['Genre'].replace('nan', 'Unknown').fillna('Unknown')

# 3. Split the strings into lists
df['Genre'] = df['Genre'].str.split(', ')

# 4. Explode the lists into separate rows
df = df.explode('Genre').reset_index(drop=True)

# 5. NOW convert to category (this creates the 'official list' based on what's there)
df['Genre'] = df['Genre'].astype('category')

# 6. Check the result
print(df['Genre'].unique())

['Unknown']
Categories (1, object): ['Unknown']

In [37]:
#casting column into category

df['Genre'] = df['Genre'].astype('category')

df['Genre'].dtypes

CategoricalDtype(categories=['Unknown'], ordered=False, categories_dtype=object)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9726 entries, 0 to 9725
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Release_Date  9726 non-null   int32
 1   Title         9726 non-null   object
 2   Popularity    9726 non-null   float64
 3   Vote_Count    9726 non-null   int64
 4   Vote_Average  9726 non-null   category
 5   Genre         9726 non-null   category
dtypes: category(2), float64(1), int32(1), int64(1), object(1)
memory usage: 285.4+ KB